# Python
venv/
__pycache__/
*.pyc
.env

# Generated Images (Keep folders but ignore contents)
Generated_Images/uploads/*
!Generated_Images/uploads/.gitkeep
Generated_Images/results/*
!Generated_Images/results/.gitkeep

# OS
.DS_Store
